.header {
    min-height: 90px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 203px;
    padding-left: 203px;
}
.header__nav-list {
    list-style-type: none;
    display: flex;
}

.header__list-item {
    margin-left: 48px;
}

.header__item-link {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    line-height: 34px;
}

.header__item-link:hover {
    text-decoration: underline;
    color: #006AB5;
}
.header__item-link--active {
    color: #006AB5;
}